* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'kantumruy';
}
body{
    overflow-x: hidden;
}

@font-face {
    font-family: 'kantumruy';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://natt.realteethclinic.com/assets/font/Kantumruy-Regular.ttf) format('woff2');
    unicode-range: U+1780-17FF, U+200C, U+25CC;
}

.header {
    width: 100%;
    height: 50px;
    background-color: #04AA6D;
    display: flex;
}

.header .header_left {
    width: 50%;
    height: 100%;
    /* background-color: wheat; */
    display: flex;
}

.header_left img {
    width: 60px;
    margin-left: 10px;
    padding: 0px 4px;
    margin-top: 1px;
    cursor: pointer;
}

.header_left a {
    text-decoration: none;
}

.header_left p {
    font-size: 22px;
    font-weight: bold;
    color: white;
    margin-top: 9px;
    cursor: pointer;
}

.header .header_right {
    width: 50%;
    height: 100%;
    position: relative;
    /* background-color: wheat; */
}

.header_right .name {
    width: 250px;
    height: 100%;
    /* background-color: rgba(255, 102, 0, 0.822); */
    float: right;
    margin-right: 120px;
}

.name p{
    margin-top: 10px;
    text-align: center;
    color: white;
    font-weight: 500;
}

.header_right .user {
    width: 120px;
    height: 100%;
    /* background-color: grey; */
    position: absolute;
    bottom: 15px;
    right: 0%;
    display: flex;
}

.user .user_left {
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    position: relative;
}

.user_left .menu {
    width: 100px;
    display: none;
    z-index: 100;
    background-color: whitesmoke;
    overflow: hidden;
    position: absolute;
    top: 100%;
    margin-top: 15px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.164);
}

.user_left .menu ul li {
    list-style-type: none;
}

.menu ul li a {
    text-decoration: none;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(148, 122, 122);
    opacity: 1;
}

.user_left .menu li:hover {
    opacity: 0.6;
}

.user_left i {
    position: absolute;
    margin-top: 18px;
    margin-left: 15px;
    font-size: 25px;
    cursor: pointer;
    color: white;
}

.user_left i:hover {
    opacity: 0.8;
}

.user .user_right {
    width: 50%;
    height: 100%;
    /* background-color: gold; */
}

.user_right i {
    position: absolute;
    margin-top: 30px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.user_right i:hover {
    opacity: 0.8;
    ;
}

.head {
    width: 1200px;
    height: 250px;
    /* background-color: wheat; */
    margin: auto;
    margin-top: 25px;
    display: flex;
    position: relative;
}

.head .head_left {
    width: 25%;
    height: auto;
    margin-left: 20px;
    background-color: white;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.137);
    cursor: pointer;
    border-radius: 5px;
}

.head_left:hover {
    opacity: 0.8;
    border: 1px solid wheat;
}

.head_left img {
    width: 45%;
    margin-top: 20px;
    margin-left: 28%;
}

.head_left p {
    margin-top: 10px;
    text-align: center;
}
/* ==================================== */
.head .head_left1 {
    width: 25%;
    height: auto;
    margin-left: 20px;
    background-color: white;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.137);
    cursor: pointer;
    border-radius: 5px;
}

.head_left1:hover {
    opacity: 0.8;
    border: 1px solid wheat;
}

.head_left1 img {
    width: 45%;
    margin-top: 20px;
    margin-left: 28%;
}

.head_left1 p {
    margin-top: 10px;
    text-align: center;
}


/* ==================================== */

.head .head_right {
    width: 25%;
    height: 100%;
    margin-left: 20px;
    background-color: white;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.137);
    cursor: pointer;
    border-radius: 5px;
}

.head_right:hover {
    opacity: 0.8;
    border: 1px solid wheat;
}

.head_right img {
    width: 45%;
    margin-top: 20px;
    margin-left: 28%;
}

.head_right p {
    margin-top: 10px;
    text-align: center;
}

/* Media screen responsive */

@media only screen and (max-width: 600px){
    .header{
        width: 100%;
    }
    .header_left img{
        padding: 0px 5px;
    }
    .header_left p{
        margin-top: 10px;
        font-size: 15px;
    }
    .header_right .name p{
        display: none;
    }
    .header_right .user i{
        font-size: 24px;
    }
    .header_right .user .user_right i{
        font-size: 18px;
    }
    .head{
        width: 100%;
        display: block;
        margin-top: 10px;
        margin-left: 55px;
    }
    .head .head_left{
        width: 30%;
        height: 150px;
        margin: auto;
        margin-top: 20px;
        margin-left: 25px;
        display: inline-block;
    }
    .head .head_left1{
        width: 30%;
        height: 150px;
        margin: auto;
        margin-top: 25px;
        margin-left: 25px;
        display: inline-block;
    }
    .head .head_right{
        width: 30%;
        height: 150px;
        margin: auto;
        margin-top: 25px;
        margin-left: 25px;
        display: inline-block;
    }
    .head .head_left p, 
    .head_left1 p, 
    .head_right p{
        font-size: 11px;
    }
}

@media only screen and (min-width: 600px) {
    .header {
        width: 100%;
    }

    .header_left img {
        padding: 2px 6px;
    }

    .header_left p {
        margin-top: 10px;
        font-size: 16px;
    }

    .header_right .name p {
        display: none;
    }
    .header_right .user i{
        font-size: 24px;
    }
    .header_right .user .user_right i{
        font-size: 18px;
    }

    .head {
        width: 100%;
        margin-top: 13px;
        display: block;
    }

    .head .head_left {
        width: 35%;
        height: 200px;
        margin: auto;
        margin-top: 10px;
        display: inline-block;
        margin-left: 65px;
        margin-right: -25px;
    }

    .head .head_left1 {
        width: 35%;
        height: 200px;
        margin: auto;
        margin-top: 25px;
        display: inline-block;
        margin-left: 65px;
        margin-right: -25px;
    }

    .head .head_right {
        width: 35%;
        height: 200px;
        margin: auto;
        margin-top: 25px;
        display: inline-block;
        margin-left: 65px;
        margin-right: -25px;
    }
}

@media only screen and (min-width: 768px){
    .header{
        width: 100%;
    }
    .header_left img{
        padding: 0px 5px;
    }
    .header_left p{
        margin-top: 10px;
        font-size: 15px;
    }
    .header_right .name{
        margin-right: 100px;
    }
    .header_right .name p{
        display: block;
        font-size: 14px;
        margin-top: 11px;
    }
    .header_right .user i{
        font-size: 23px;
    }
    .header_right .user .user_right i{
        font-size: 18px;
    }

    .head{
        width: 100%;
        margin-top: 5px;
        margin-left: 10px;
        display: block;
    }
    .head .head_left{
        width: 25%;
        height: 230px;
        margin-top: 20px;
        margin-left: 55px;
        display: inline-block;
    }
    .head .head_left1 {
        width: 25%;
        height: 230px;
        margin-top: 20px;
        margin-left: 55px;
        display: inline-block;
    }
    .head .head_right{
        width: 25%;
        height: 230px;
        margin-top: 20px;
        margin-left: 55px;
    }
}

@media only screen and (min-width: 992px){
    .header{
        width: 100%;
    }
    .header_left img{
        padding: 0px 5px;
    }
    .header_left p{
        margin-top: 10px;
        font-size: 15px;
    }
    .header_right .name{
        margin-right: 100px;
    }
    .header_right .name p{
        display: block;
        font-size: 14px;
        margin-top: 11px;
    }
    .header_right .user i{
        font-size: 23px;
    }
    .header_right .user .user_right i{
        font-size: 18px;
    }

    .head{
        width: 100%;
        margin-top: 5px;
        margin-left: 10px;
        display: block;
    }
    .head .head_left{
        width: 20%;
        height: 230px;
        margin-top: 20px;
        margin-left: 55px;
        display: inline-block;
    }
    .head .head_left1 {
        width: 20%;
        height: 230px;
        margin-top: 20px;
        margin-left: 55px;
        display: inline-block;
    }
    .head .head_right{
        width: 20%;
        height: 230px;
        margin-top: 20px;
        margin-left: 55px;
    }
}
@media only screen and (min-width: 1200px){
    
}